footer {
    margin-top: 10px;
    margin-bottom: 40px;
}

a {
    display: inline-block;
    color: #ebebeb;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: 0.7;
}

p {
    margin: 5px;
}

img {
    width: 200px;
}