<uppp-image-search [images]="images$ | async" [count]="imagesCount$ | async" [page]="imagesPage$ | async" [loading]="imagesLoading$ | async"
  [loaded]="imagesLoaded$ | async" [currentQuery]="imagesCurrentQuery$ | async" [errorMessage]="imagesErrorMessage$ | async"
  [imageSelected]="imageSelected$ | async" [imageDownloading]="imageDownloading$ | async"
  (onQueryChanged)="onImagesQueryChanged($event)" (onImageRequested)="onImageRequested($event)"></uppp-image-search>
<uppp-footer></uppp-footer>

<ngb-alert *ngIf="imageDownloadSuccessMessage$ | async" type="success" [dismissible]="false">
  <strong>Success!</strong> {{imageDownloadSuccessMessage$ | async}}
</ngb-alert>

<ngb-alert *ngIf="imageDownloadErrorMessage$ | async" type="danger" [dismissible]="false">
  <strong>Error!</strong> {{imageDownloadErrorMessage$ | async}}
</ngb-alert>