form {
    display: flex;
    margin: 10px 0;
}
.btn {
    margin: 4px;
    flex: 0 0 auto;
}
.form-control {
    margin: 3px 4px;
    flex: 1 1 auto;
}
ngb-pagination {
    margin: 10px 4px;
}
.item {
    border: none;
    position: relative;
}
.item > ngb-progressbar {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
.item > img {
    background-color: #333;
}
.item > img:hover {
    cursor: pointer;
    opacity: 0.8;
}
.card {
    display: inline-block;
    padding: 15px;
}