<form (ngSubmit)="queryTextChanged()" #searchForm="ngForm">
  <input class="form-control" type="text" [(ngModel)]="queryInput" name="queryInput" />
  <button type="submit" class="btn btn-success" [disabled]="loading">Search</button>
</form>

<div *ngIf="loaded && images.length > 0">
  <div class="flex-images">
    <div *ngFor="let image of images" class="item" [attr.data-w]="image.previewWidth" [attr.data-h]="image.previewHeight">
      <img [alt]="currentQuery" (click)="imageRequested(image.webformatURL)" [src]="image.previewURL">
    </div>
  </div>
  <div class="pagination">
    <ngb-pagination [collectionSize]="count" [(page)]="page" (pageChange)="pageChanged($event)" pageSize="20" maxSize="5" [disabled]="loading"></ngb-pagination>
  </div>
</div>

<div *ngIf="loaded && images.length === 0" class="card">
    <div class="card-body">
      <h4 class="card-title">We didn't find any of those</h4>
      <p class="card-text">Try searching for something else.</p>
    </div>
  </div>

<div *ngIf="loading" class="progress-container">
  <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</div>

<div *ngIf="!loaded && !loading" class="card">
  <div class="card-body">
    <h4 class="card-title">Something went wrong</h4>
    <p class="card-text">{{errorMessage}}</p>
    <a href="#" class="btn btn-success" (click)="retryQuery()">Retry</a>
  </div>
</div>